{% extends "base.html" %}

{% block content %}

<br><br>

<form action="{{ url_for('index.top_k') }}" method="POST">
  <label for="k">Enter the number of most expensive products you'd like to search for:</label>
  <input type="number" name="k" id="k" placeholder=" " required>
  <input type="submit" value="submit"/>
</form>

<a class="btn btn-secondary" href="{{url_for('reviews.review')}}" role="button">User Reviews</a>
<a class="btn btn-secondary" href="{{url_for('purchases.purchases')}}" role="button">User Purchases</a>


<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('reviews.write_review', product_id=product.id) }}" class="btn btn-primary">
              Write a Review
            </a>
          {% else %}
            <span>Login to review</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% if current_user.is_authenticated %}

<a class="btn btn-secondary" href="{{url_for('cartitem.cartitem')}}" role="button">My Cart</a>
<br><br>
<a class="btn btn-secondary" href="{{url_for('inventory.inventory')}}" role="button">My Inventory</a>

<br><br>

<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
