{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate style="text-align: center; margin-top: 50px;">
  {{ form.hidden_tag() }}
  <p>
    <label style="color: #702106; font-family: 'Gaegu', sans-serif; font-size: 30px;">Email</label><br/>
    {{ form.email(size=100) }}<br/>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    <label style="color: #702106; font-family: 'Gaegu', sans-serif; font-size: 30px;">Password</label><br/>
    {{ form.password(size=100) }}<br/>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <div style="text-align: center; margin-top: 50px; margin-left: 20px">
    {{ form.submit(class_="btn btn-brown", style="margin-right: 20px;") }}
    <a class="btn btn-brown" href="{{ url_for('users.register') }}" role="button">New? Create Account</a>
  </div>
</form>

{% endblock %}
