{% extends "base.html" %}

{% block content %}

<br><br>

<h1>{{ product.name }}</h1>
    <p>Price: ${{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Category: {{ product.category }}</p>
    <p>Average Rating: {{ product.prod_avg_rating }}</p>
    <img src="{{ product.image_path }}" alt="{{ product.name }} image"> 
    <br><br>
    <!-- Link back to home page or previous page -->
    <a href="{{ url_for('index.index') }}">Back to all products</a>

    {% if current_user.is_authenticated %}
    <br><br>
    <!-- ADD CORRECT FORM ACTION URL -->
    <form action="{{ url_for('cartitem.add', id=product.id)}}" method="POST">
        <label>Quantity:</label>
        <input type="string" name="quantity" id="quantity" placeholder=" " required>
        <input type="submit" value="Add to Cart"/>
      </form>
    <a class="btn btn-secondary" href="{{url_for('cartitem.cartitem')}}" role="button">See Cart</a>

    {% endif %}

{% endblock %}